<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reservaya.reservaya_prototipo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_iconapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReservaYa_Prototipo">
        <activity
            android:name=".RecibeFormulario"
            android:exported="false"
            android:parentActivityName=".Formulario" />
        <activity
            android:name=".activity_instrucciones"
            android:exported="false" />
        <activity
            android:name=".activity_iniciarSesion"
            android:exported="false" />
        <activity
            android:name=".activity_pantallaInicial"
            android:exported="false" />
        <activity
            android:name=".ComprobanteReserva"
            android:exported="false"
            android:parentActivityName=".MenuReservas" />
        <activity
            android:name=".MenuReservas"
            android:exported="false"
            android:parentActivityName=".Activity_menuOpciones" />
        <activity
            android:name=".Activity_mapa"
            android:exported="false" />
        <activity
            android:name=".Formulario"
            android:exported="false"
            android:parentActivityName=".Activity_mapa" />
        <activity
            android:name=".Activity_menuOpciones"
            android:exported="false" />
        <activity
            android:name=".activity_menuPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>